* {
    background-image: none !important;
  }
  
  img, svg {
    display: none !important;
  }
  
  @media print {
    canvas {
      display: block;
      width: 90%;
    }

    h1 {
      break-before: avoid-page;
    }

    .item-container h2 {
      break-before: always;
    }
  }
  